// sidebar
.sidebar {
  width: 280px;
  height: 100%;
  background-color: $bg-secondary;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  // sidebar-brand
  .sidebar-brand img {
    width: 200px;
    height: 98px;
  }
  // accordion
  .accordion-item {
    border: none;
    a {
      display: flex;
      align-items: center;
      background-color: $bg-secondary;
      box-shadow: none;
    }
    // accordion-button
    .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 24 24'%3E%3Cpath fill='%23848ba2' d='M12 10a2 2 0 0 0-2 2a2 2 0 0 0 2 2c1.11 0 2-.89 2-2a2 2 0 0 0-2-2'/%3E%3C/svg%3E");
    }
    .accordion-button::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 24 24'%3E%3Cpath fill='%23848ba2' d='M12 10a2 2 0 0 0-2 2a2 2 0 0 0 2 2c1.11 0 2-.89 2-2a2 2 0 0 0-2-2'/%3E%3C/svg%3E");
    }
    // accordion-collapse
    .accordion-collapse {
      background-color: $bg-secondary;
      padding-left: 40px;
    }
  }
}
