// variables
// colour pallete
$primary-color: #3547ac;
$secondary-color: #f16843;
$tertiary-color: #2ebd59;
$bg-primary: #ffffff;
$bg-secondary: #f8f9fd;
$text-primary: #1e2463;
$text-secondary: #848ba2;

// Typography brand
$inter-bold: 'Inter-Bold';
$inter-semibold: 'Inter-SemiBold';
$inter-regular: 'Inter-Regular';
